#### Hasta este punto tenemos nuestras tablas procesadas (movies, ratings y tags) de forma correcta. El cliente nos ha solicitado apoyar al departamento de Marketing a realizar algunas consultas y a generar una única tabla y realizar algunos ajustes a la tabla final antes de poder almacenarla.

##### Nota: Para poder trabajar con este notebook es necesario haber terminado el ejercicio de la sesión 07

In [1]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
%run utils.ipynb

In [2]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
from pyspark.sql import SparkSession, DataFrame, Column
import pyspark.sql.functions as f
import pyspark.sql.types as t

# Creación de sesión de Spark
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("ejercicio_8") \
    .getOrCreate()

# Carga de tablas requeridas
root_path = "../resources/data/tmp/parquet/"
names_list = ["07/movies", "07/ratings", "07/tags_p2"]
df_dict = read_tmp_df(names_list)

movies_df = df_dict["07/movies"]
ratings_df = df_dict["07/ratings"]
tags_df = df_dict["07/tags_p2"]

movies_df.show(1, False)
ratings_df.show(1, False)
tags_df.show(1, False)

+--------+----------------+-------------------------------------------------+----+
|movie_id|title           |genres                                           |year|
+--------+----------------+-------------------------------------------------+----+
|1       |Toy Story (1995)|[Adventure, Animation, Children, Comedy, Fantasy]|1995|
+--------+----------------+-------------------------------------------------+----+
only showing top 1 row

+--------+----------+-------------+------------+-------------------+
|movie_id|avg_rating|stddev_rating|count_rating|min_time_rating    |
+--------+----------+-------------+------------+-------------------+
|3298    |3.5       |0.88         |5743        |2000-02-17 01:59:39|
+--------+----------+-------------+------------+-------------------+
only showing top 1 row

+--------+----------------------------+-------------------+
|movie_id|tag_count                   |min_time_tag       |
+--------+----------------------------+-------------------+
|100048  |[{BASED ON A TRUE STORY, 1}]|2018-05-24 21:02:43|
+--------+----------------------------+-------------------+
only showing top 1 row

#### En la siguiente imagen se muestra una representación a traves del diagrama de Venn sobre cada tabla (movies_df, ratings_df y tags_df) la cual fue contruida por el departamento de Marketing, el problema es que no saben la cantidad de datos de cada conjunto.
##### El cliente nos han solicitado obtener la cantidad de registros de cada conjunto de datos representado por las siguientes letras:
- ##### A: Registros de movies_df que no tiene filas coincidentes con las tablas ratings_df y tags_df
- ##### B: Registros de ratings_df que no tiene filas coincidentes con las tablas movies_df y tags_df
- ##### C: Registros de tags_df que no tiene filas coincidentes con las tablas movies_df y ratings_df
- ##### D: Registros de movies_df y ratings_df que no tiene filas coincidentes con la tabla tags_df
- ##### E: Registros de movies_df y tags_df que no tiene filas coincidentes con la tabla ratings_df
- ##### F: Registros de ratings_df y tags_df que no tiene filas coincidentes con la tabla movies_df
- ##### G: Registros que contiene datos coincidentes en las tablas movies_df, ratings_df y tags_df
-  Una tabla tiene registros coincidentes con otra cuando comparten el mismo valor en la columna "movie_id"

![title](../resources/img/Tablas_conjuntos.png)

#### Actividad 1:
##### TO DO ->    Obtener los conjuntos de datos listados en el diagrama de Venn con operaciones de tipo join, con la finalidad de ahorrar recursos el cliente nos ha solicitado que en la salida de cada transformación el dataframe resultante contenga únicamente la columna "movie_id" (basta con utilizar únicante una trasnsformación select al inicio de las operaciones join y utilizar únicamente joins del tipo left_semi y left_anti).
- ##### Los dataframes resultantes se almacenarán en las siguientes variables:
    - ##### A_df -> Conjunto A
    - ##### B_df -> Conjunto B
    - ##### C_df -> Conjunto C
    - ##### D_df -> Conjunto D
    - ##### E_df -> Conjunto E
    - ##### F_df -> Conjunto F
    - ##### G_df -> Conjunto G

In [3]:
## TU CODIGO VA EN ESTA CELDA:

#Importaciones extra 
import pyspark.sql.functions as f

# A: Registros de movies_df que no tienen coincidencias en ratings_df ni tags_df
A_df = movies_df.select("movie_id").join(ratings_df, "movie_id", "left_anti").join(tags_df, "movie_id", "left_anti")

# B: Registros de ratings_df sin coincidencias en movies_df ni tags_df
B_df = ratings_df.select("movie_id").join(movies_df, "movie_id", "left_anti").join(tags_df, "movie_id", "left_anti")

# C: Registros de tags_df sin coincidencias en movies_df ni ratings_df
C_df = tags_df.select("movie_id").join(movies_df, "movie_id", "left_anti").join(ratings_df, "movie_id", "left_anti")

# D: Registros de movies_df y ratings_df sin coincidencias en tags_df
D_df = movies_df.select("movie_id").join(ratings_df, "movie_id", "left_semi").join(tags_df, "movie_id", "left_anti")

# E: Registros de movies_df y tags_df sin coincidencias en ratings_df
E_df = movies_df.select("movie_id").join(tags_df, "movie_id", "left_semi").join(ratings_df, "movie_id", "left_anti")

# F: Registros de ratings_df y tags_df sin coincidencias en movies_df
F_df = ratings_df.select("movie_id").join(tags_df, "movie_id", "left_semi").join(movies_df, "movie_id", "left_anti")

# G: Registros que contienen datos coincidentes en movies_df, ratings_df y tags_df
G_df = movies_df.select("movie_id").join(ratings_df, "movie_id", "left_semi").join(tags_df, "movie_id", "left_semi")

# Imprimir resultados
A_df.show()
B_df.show()
C_df.show()
D_df.show()
E_df.show()
F_df.show()
G_df.show()

+--------+
|movie_id|
+--------+
+--------+

+--------+
|movie_id|
+--------+
|  134340|
|  171705|
|  135819|
|  232045|
|  196145|
|  190483|
|  194374|
|  151379|
|  157833|
|  172631|
|  278602|
|  155529|
|  236969|
|  207387|
|  174113|
|  155106|
|  132247|
|  215753|
|  170671|
|  125640|
+--------+
only showing top 20 rows

+--------+
|movie_id|
+--------+
|  123755|
|  128295|
|  129869|
|  130776|
|  133433|
|  135354|
|  145436|
|  146495|
|  146616|
|  147676|
|  149270|
|  149896|
|  151115|
|  151943|
|  153470|
|  155838|
|  156268|
|  156525|
|  157717|
|  161252|
+--------+
only showing top 20 rows

+--------+
|movie_id|
+--------+
|      51|
|      56|
|      84|
|      90|
|     108|
|     139|
|     142|
|     192|
|     200|
|     284|
|     287|
|     310|
|     401|
|     406|
|     447|
|     463|
|     476|
|     579|
|     603|
|     604|
+--------+
only showing top 20 rows

+--------+
|movie_id|
+--------+
|   52696|
|   58209|
|   69864|
|   70312|
|   71355|
|   78719|
|   78871|
|   79363|
|   79899|
|   80052|
|   80226|
|   85140|
|   85207|
|   86673|
|   87175|
|   87466|
|   87888|
|   88185|
|   88855|
|   88897|
+--------+
only showing top 20 rows

+--------+
|movie_id|
+--------+
|  126795|
|  155418|
|  186037|
|  193946|
|  163993|
|  134356|
|  180069|
|  176425|
|  114725|
|  161202|
|  171463|
|  166024|
|  189703|
|  162836|
|  160590|
|  165489|
|  221160|
|  222913|
|  167400|
|  207712|
+--------+
only showing top 20 rows

+--------+
|movie_id|
+--------+
|       1|
|       2|
|       3|
|       4|
|       5|
|       6|
|       7|
|       8|
|       9|
|      10|
|      11|
|      12|
|      13|
|      14|
|      15|
|      16|
|      17|
|      18|
|      19|
|      20|
+--------+
only showing top 20 rows

In [4]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
B_df.show(1)
"""
Ejemplo de salida de cada dataframe (desde A hasta G):
+--------+
|movie_id|
+--------+
|  179995|
+--------+
only showing top 1 row
"""

+--------+
|movie_id|
+--------+
|  134340|
+--------+
only showing top 1 row

'\nEjemplo de salida de cada dataframe (desde A hasta G):\n+--------+\n|movie_id|\n+--------+\n|  179995|\n+--------+\nonly showing top 1 row\n'

In [5]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

assert A_df.count() == 0
assert B_df.count() == 4270
assert C_df.count() == 539
assert D_df.count() == 28815
assert E_df.count() == 2759
assert F_df.count() == 2251
assert G_df.count() == 47903

assert len(A_df.columns) == 1
assert len(B_df.columns) == 1
assert len(C_df.columns) == 1
assert len(D_df.columns) == 1
assert len(E_df.columns) == 1
assert len(F_df.columns) == 1
assert len(G_df.columns) == 1

assert "movie_id" in A_df.columns
assert "movie_id" in B_df.columns
assert "movie_id" in C_df.columns
assert "movie_id" in D_df.columns
assert "movie_id" in E_df.columns
assert "movie_id" in F_df.columns
assert "movie_id" in G_df.columns

#### Actividad 2:
##### TO DO ->    Algunos administradores de base de datos no comprenden el uso de los joins de tipo left_semi y left_anti, por lo tanto el cliente ha solicitado que tambien se realicen las transformaciones con cualquiera de los siguientes tipos de join: left, right, inner, outer. Podrías utilizar la transformación filter/where en algunos casos.
##### No existe alguna reestricción de qué columnas contiene el dataframe de salida.
- ##### Los dataframes resultantes se almacenarán en las siguientes variables:
    - ##### A_df -> Conjunto A
    - ##### B_df -> Conjunto B
    - ##### C_df -> Conjunto C
    - ##### D_df -> Conjunto D
    - ##### E_df -> Conjunto E
    - ##### F_df -> Conjunto F
    - ##### G_df -> Conjunto G

In [6]:
## TU CODIGO VA EN ESTA CELDA:
# Importaciones extra
import pyspark.sql.functions as f

# A: Registros de movies_df que no tienen coincidencias en ratings_df ni tags_df
A_df = movies_df \
    .join(ratings_df, ["movie_id"], "left") \
    .join(tags_df, ["movie_id"], "left") \
    .filter(f.col("count_rating").isNull() & f.col("tag_count").isNull())

# B: Registros de ratings_df sin coincidencias en movies_df ni tags_df
B_df = ratings_df \
    .join(movies_df, ["movie_id"], "left") \
    .join(tags_df, ["movie_id"], "left") \
    .filter(f.col("title").isNull() & f.col("tag_count").isNull())

# C: Registros de tags_df sin coincidencias en movies_df ni ratings_df
C_df = tags_df \
    .join(movies_df, ["movie_id"], "left") \
    .join(ratings_df, ["movie_id"], "left") \
    .filter(f.col("title").isNull() & f.col("count_rating").isNull())

# D: Registros de movies_df y ratings_df sin coincidencias en tags_df
D_df = movies_df \
    .join(ratings_df, ["movie_id"], "inner") \
    .join(tags_df, ["movie_id"], "left") \
    .filter(f.col("tag_count").isNull())

# E: Registros de movies_df y tags_df sin coincidencias en ratings_df
E_df = movies_df \
    .join(tags_df, ["movie_id"], "inner") \
    .join(ratings_df, ["movie_id"], "left") \
    .filter(f.col("count_rating").isNull())

# F: Registros de ratings_df y tags_df sin coincidencias en movies_df
F_df = tags_df \
    .join(ratings_df, ["movie_id"], "inner") \
    .join(movies_df, ["movie_id"], "left") \
    .filter(f.col("title").isNull())

# G: Registros que contienen datos coincidentes en movies_df, ratings_df y tags_df
G_df = movies_df \
    .join(ratings_df, ["movie_id"], "inner") \
    .join(tags_df, ["movie_id"], "inner")

# Imprimir resultados
A_df.show()
B_df.show()
C_df.show()
D_df.show()
E_df.show()
F_df.show()
G_df.show()

+--------+-----+------+----+----------+-------------+------------+---------------+---------+------------+
|movie_id|title|genres|year|avg_rating|stddev_rating|count_rating|min_time_rating|tag_count|min_time_tag|
+--------+-----+------+----+----------+-------------+------------+---------------+---------+------------+
+--------+-----+------+----+----------+-------------+------------+---------------+---------+------------+

+--------+----------+-------------+------------+-------------------+-----+------+----+---------+------------+
|movie_id|avg_rating|stddev_rating|count_rating|    min_time_rating|title|genres|year|tag_count|min_time_tag|
+--------+----------+-------------+------------+-------------------+-----+------+----+---------+------------+
|  134340|      3.36|         1.03|           7|2015-05-30 19:18:26| null|  null|null|     null|        null|
|  171705|      3.93|         1.21|          38|2017-05-03 01:05:48| null|  null|null|     null|        null|
|  135819|       3.0|          0.5|           2|2015-06-24 14:47:58| null|  null|null|     null|        null|
|  232045|       2.0|         1.14|           5|2022-03-20 04:38:36| null|  null|null|     null|        null|
|  196145|       2.0|         1.22|           3|2018-12-05 15:59:07| null|  null|null|     null|        null|
|  190483|      3.17|         0.62|           3|2018-07-03 02:22:09| null|  null|null|     null|        null|
|  194374|      3.83|         0.85|           3|2018-10-08 21:58:21| null|  null|null|     null|        null|
|  151379|       4.0|          0.0|           1|2020-06-04 14:22:41| null|  null|null|     null|        null|
|  157833|      2.25|         1.18|           6|2016-04-29 15:21:38| null|  null|null|     null|        null|
|  172631|       4.0|         1.15|          17|2017-05-16 17:06:51| null|  null|null|     null|        null|
|  278602|       3.5|          0.0|           1|2022-09-07 09:04:47| null|  null|null|     null|        null|
|  155529|      4.25|         0.75|           2|2016-03-22 09:44:06| null|  null|null|     null|        null|
|  236969|       2.5|          0.0|           1|2021-01-28 21:17:56| null|  null|null|     null|        null|
|  207387|       2.1|         1.07|           5|2019-10-30 07:46:17| null|  null|null|     null|        null|
|  174113|       3.0|         0.82|           3|2017-06-14 06:12:16| null|  null|null|     null|        null|
|  155106|      3.58|         0.62|          13|2016-03-08 01:16:29| null|  null|null|     null|        null|
|  132247|       1.0|          0.0|           1|2016-09-26 18:50:53| null|  null|null|     null|        null|
|  215753|      1.88|         1.39|           4|2020-04-24 14:59:23| null|  null|null|     null|        null|
|  170671|      3.63|         0.41|           8|2017-04-03 01:14:20| null|  null|null|     null|        null|
|  125640|      3.23|         0.65|          11|2015-01-19 09:50:30| null|  null|null|     null|        null|
+--------+----------+-------------+------------+-------------------+-----+------+----+---------+------------+
only showing top 20 rows

+--------+--------------------+-------------------+-----+------+----+----------+-------------+------------+---------------+
|movie_id|           tag_count|       min_time_tag|title|genres|year|avg_rating|stddev_rating|count_rating|min_time_rating|
+--------+--------------------+-------------------+-----+------+----+----------+-------------+------------+---------------+
|  123755|[{MELODRAMA, 1}, ...|2018-05-17 03:36:12| null|  null|null|      null|         null|        null|           null|
|  128295|[{TREASURE, 1}, {...|2018-05-17 22:34:21| null|  null|null|      null|         null|        null|           null|
|  129869|[{BEACH, 1}, {MIS...|2018-05-17 22:32:05| null|  null|null|      null|         null|        null|           null|
|  130776|[{DETECTIVE, 1}, ...|2018-05-17 22:47:48| null|  null|null|      null|         null|        null|           null|
|  133433|[{COMEDY WESTERN,...|2018-05-17 22:45:40| null|  null|null|      null|         null|        null|           null|
|  135354|[{SPAGHETTI WESTE...|2018-04-20 12:53:49| null|  null|null|      null|         null|        null|           null|
|  145436|[{OUTLAW, 1}, {GU...|2018-05-17 04:00:23| null|  null|null|      null|         null|        null|           null|
|  146495|[{TAXI, 1}, {BOWE...|2018-05-17 04:10:54| null|  null|null|      null|         null|        null|           null|
|  146616|[{BASED ON NOVEL ...|2018-05-17 22:12:51| null|  null|null|      null|         null|        null|           null|
|  147676|[{DANCER, 1}, {FE...|2018-05-17 22:54:58| null|  null|null|      null|         null|        null|           null|
|  149270|[{ALCOHOLIC, 1}, ...|2018-05-17 22:56:55| null|  null|null|      null|         null|        null|           null|
|  149896|[{VETERINARY, 1},...|2018-05-17 22:57:02| null|  null|null|      null|         null|        null|           null|
|  151115|         [{TAXI, 1}]|2018-05-17 22:59:14| null|  null|null|      null|         null|        null|           null|
|  151943|      [{MUSICAL, 1}]|2018-05-17 23:00:18| null|  null|null|      null|         null|        null|           null|
|  153470|[{TV MOVIE, 1}, {...|2016-02-21 07:25:25| null|  null|null|      null|         null|        null|           null|
|  155838|[{DRUMS, 1}, {CON...|2018-05-17 03:48:46| null|  null|null|      null|         null|        null|           null|
|  156268|    [{LONE WOLF, 1}]|2018-05-17 03:50:04| null|  null|null|      null|         null|        null|           null|
|  156525|[{BD-R, 1}, {EDWA...|2016-09-26 00:42:19| null|  null|null|      null|         null|        null|           null|
|  157717|[{ESCAPED PRISONE...|2018-06-11 19:01:36| null|  null|null|      null|         null|        null|           null|
|  161252|[{AMERICAN CIVIL ...|2018-05-10 09:22:36| null|  null|null|      null|         null|        null|           null|
+--------+--------------------+-------------------+-----+------+----+----------+-------------+------------+---------------+
only showing top 20 rows

+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+---------+------------+
|movie_id|               title|              genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|tag_count|min_time_tag|
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+---------+------------+
|      51|Guardian Angel (1...|[Action, Drama, T...|1994|      2.61|         1.12|          36|1996-04-29 05:42:04|     null|        null|
|      56|Kids of the Round...|[Adventure, Child...|1995|      2.06|         1.22|          83|1996-04-29 05:42:04|     null|        null|
|      84|Last Summer in th...|     [Comedy, Drama]|1995|      3.38|          1.1|         168|1996-02-23 06:55:55|     null|        null|
|      90|The Journey of Au...|             [Drama]|1995|      3.34|         1.17|         228|1996-03-30 18:15:47|     null|        null|
|     108|      Catwalk (1996)|       [Documentary]|1996|      3.05|         1.35|         137|1996-06-07 02:53:40|     null|        null|
|     139|       Target (1995)|     [Action, Drama]|1995|       3.1|         0.96|          48|1996-03-30 15:47:01|     null|        null|
|     142|Shadows (Cienie) ...|             [Drama]|1988|      3.06|         1.19|          43|1996-03-28 16:02:54|     null|        null|
|     192|     The Show (1995)|       [Documentary]|1995|      3.04|         1.04|          87|1996-05-05 03:06:47|     null|        null|
|     200|Tie That Binds, T...|          [Thriller]|1995|      2.84|         0.94|         360|1996-03-28 09:05:42|     null|        null|
|     284|New York Cop (Nyû...|     [Action, Crime]|1993|       2.8|         1.25|          40|1996-04-02 04:46:04|     null|        null|
|     287|Nina Takes a Love...|   [Comedy, Romance]|1994|      3.24|         1.08|         336|1996-03-29 09:50:21|     null|        null|
|     310|   Rent-a-Kid (1995)|            [Comedy]|1995|      2.78|         1.16|         276|1996-03-02 12:09:18|     null|        null|
|     401|       Mirage (1995)|  [Action, Thriller]|1995|      3.05|         1.14|          22|1996-10-30 04:36:55|     null|        null|
|     406| Federal Hill (1994)|             [Drama]|1994|      3.07|         0.89|          70|1996-04-28 07:47:02|     null|        null|
|     447|   Favor, The (1994)|   [Comedy, Romance]|1994|      2.53|         0.97|         234|1996-11-22 19:30:05|     null|        null|
|     463|Guilty as Sin (1993)|[Crime, Drama, Th...|1993|      2.82|         0.97|         446|1996-02-29 18:00:00|     null|        null|
|     476| Inkwell, The (1994)|     [Comedy, Drama]|1994|      3.01|         1.01|         245|1996-07-23 05:49:05|     null|        null|
|     579|Escort, The (Scor...|   [Crime, Thriller]|1993|      3.05|         0.94|          44|1996-02-29 18:00:00|     null|        null|
|     603|Bye Bye, Love (1995)|            [Comedy]|1995|      2.93|         0.99|         639|1996-06-12 01:36:30|     null|        null|
|     604|    Criminals (1996)|       [Documentary]|1996|      2.67|         1.74|          12|1997-02-03 14:41:19|     null|        null|
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+---------+------------+
only showing top 20 rows

+--------+--------------------+--------------------+----+--------------------+-------------------+----------+-------------+------------+---------------+
|movie_id|               title|              genres|year|           tag_count|       min_time_tag|avg_rating|stddev_rating|count_rating|min_time_rating|
+--------+--------------------+--------------------+----+--------------------+-------------------+----------+-------------+------------+---------------+
|  103968|And Baby Makes Th...|   [Comedy, Romance]|1949|[{MARRIAGE, 1}, {...|2018-05-17 23:14:06|      null|         null|        null|           null|
|  110384|Last Word, The (1...|     [Comedy, Drama]|1979|    [{CONDEMNED, 1}]|2018-05-17 03:39:56|      null|         null|        null|           null|
|  110399|Boots and Saddles...|   [Action, Western]|1937|[{GENE AUTRY, 1},...|2014-06-08 08:15:21|      null|         null|        null|           null|
|  111523|    50 Kisses (2014)|[Comedy, Drama, H...|2014|         [{KISS, 1}]|2018-05-17 03:40:29|      null|         null|        null|           null|
|  112234|Brave Warrior (1952)|           [Western]|1952|[{BATTLE, 1}, {TE...|2018-05-17 23:15:47|      null|         null|        null|           null|
|  113145|Eye for an Eye, A...|             [Drama]|1957|[{CAR TROUBLE, 1}...|2014-08-04 01:02:19|      null|         null|        null|           null|
|  113327|Calling Philo Van...|[Crime, Mystery, ...|1940|  [{PHILO VANCE, 1}]|2018-05-17 23:16:20|      null|         null|        null|           null|
|  113682|    Bobbikins (1959)|            [Comedy]|1959|[{MONEY PROBLEMS,...|2018-05-17 23:16:46|      null|         null|        null|           null|
|  113838|Black Bird, The (...|            [Comedy]|1975|[{BLACK BIRD, 1},...|2018-05-17 23:16:42|      null|         null|        null|           null|
|  114779|Champagne Charlie...|[Comedy, Drama, M...|1944|   [{MUSIC HALL, 1}]|2018-05-17 23:16:57|      null|         null|        null|           null|
|  115801|Charlie Chan's Gr...|           [Mystery]|1933|[{CHARLIE CHAN, 1...|2014-11-03 03:10:32|      null|         null|        null|           null|
|  116209|The Road to Glory...|        [Drama, War]|1936| [{HOWARD HAWKS, 1}]|2014-11-09 12:42:28|      null|         null|        null|           null|
|  116439|Captain January (...|             [Drama]|1924|[{EDWARD F. CLINE...|2014-11-10 12:57:44|      null|         null|        null|           null|
|  117958|   Vice Versa (1948)|            [Comedy]|1948|[{BODY-SWAP, 1}, ...|2018-05-17 23:19:16|      null|         null|        null|           null|
|  119017|When Men Carried ...|            [Comedy]|1971|[{PLAY:LYSISTRATA...|2018-05-17 22:49:23|      null|         null|        null|           null|
|  120430| Gang in Blue (1996)|[Action, Crime, D...|1996|[{POLICE, 1}, {IN...|2018-05-17 22:49:58|      null|         null|        null|           null|
|  120502| Holiday Camp (1947)|[Adventure, Comed...|1947| [{HOLIDAY CAMP, 1}]|2018-05-17 22:50:29|      null|         null|        null|           null|
|  120737|Last of the Bucca...|[Action, Adventur...|1950|[{WAR OF 1812, 1}...|2018-05-17 22:51:02|      null|         null|        null|           null|
|  121091|Outpost in Morocc...| [Action, Adventure]|1949|[{FOREIGN LEGION,...|2018-05-17 22:51:24|      null|         null|        null|           null|
|  121288|The Power and the...|             [Drama]|1961|[{AUTHOR:GRAHAM G...|2015-01-24 02:19:19|      null|         null|        null|           null|
+--------+--------------------+--------------------+----+--------------------+-------------------+----------+-------------+------------+---------------+
only showing top 20 rows

+--------+--------------------+-------------------+----------+-------------+------------+-------------------+-----+------+----+
|movie_id|           tag_count|       min_time_tag|avg_rating|stddev_rating|count_rating|    min_time_rating|title|genres|year|
+--------+--------------------+-------------------+----------+-------------+------------+-------------------+-----+------+----+
|  116237|[{COCHISE, 1}, {W...|2018-05-17 23:18:08|       2.0|         1.08|           3|2021-01-13 22:17:10| null|  null|null|
|  122687|[{SPACE STATION, ...|2016-09-28 10:49:22|      2.33|         0.62|           3|2016-04-14 21:33:46| null|  null|null|
|  124525|  [{SILENT FILM, 1}]|2018-05-18 00:25:26|      3.25|         0.25|           2|2015-12-15 01:00:38| null|  null|null|
|  124921|[{WOMAN DIRECTOR,...|2017-10-20 10:03:21|      2.63|         1.47|           4|2016-02-13 15:43:10| null|  null|null|
|  125233|[{CALIFORNIA, 1},...|2016-04-13 05:41:29|      2.86|         1.12|           7|2015-07-05 18:42:46| null|  null|null|
|  125377|[{BEAUTIFUL WOMAN...|2018-05-18 00:18:19|      2.83|         0.62|           3|2015-08-12 12:23:26| null|  null|null|
|  125611|[{ABUSE, 1}, {ADO...|2018-05-17 23:41:23|      3.75|         0.75|           2|2017-08-24 05:00:59| null|  null|null|
|  126130|[{WOMAN DIRECTOR,...|2018-05-18 00:18:39|       2.0|          0.5|           2|2015-01-22 08:53:47| null|  null|null|
|  128237|[{WOMAN DIRECTOR,...|2018-05-18 00:20:00|       3.0|          0.0|           1|2016-01-02 04:20:01| null|  null|null|
|  132264|[{SALOON OWNER, 1...|2015-06-06 17:35:14|      3.33|         0.24|           3|2016-12-24 02:35:23| null|  null|null|
|  132307|[{DEPARTMENT STOR...|2018-05-17 22:37:51|       2.5|          0.0|           1|2018-07-01 09:37:00| null|  null|null|
|  132766|[{WOMAN DIRECTOR,...|2018-05-18 18:22:24|       3.0|         0.41|           6|2015-12-15 01:01:48| null|  null|null|
|  132836|[{MURDER, 1}, {LO...|2018-05-18 18:07:48|       3.0|          0.0|           1|2015-11-21 22:02:56| null|  null|null|
|  133183|[{SOCIAL COMMENTA...|2018-07-16 03:45:35|      3.43|         0.94|          14|2015-09-05 14:25:45| null|  null|null|
|  134216|[{AIRPLANE CRASH,...|2018-05-17 22:46:46|       3.0|          0.0|           1|2021-07-16 20:21:24| null|  null|null|
|  135895|[{HUNTING, 1}, {S...|2018-05-18 18:09:50|       2.0|          0.0|           1|2017-05-01 08:36:50| null|  null|null|
|  136560|[{HEARTWARMING, 1...|2015-07-01 21:10:45|      4.25|         0.75|           2|2015-07-01 21:10:29| null|  null|null|
|  136836|[{AMUSEMENT PARK,...|2018-05-21 19:24:43|      3.17|         0.94|           3|2015-07-03 20:41:35| null|  null|null|
|  137130|[{ALANNA UBACH, 1...|2019-04-10 22:24:16|       3.5|          1.5|           2|2019-04-10 22:23:47| null|  null|null|
|  137451|[{MUSICIAN, 1}, {...|2018-05-17 03:54:21|       2.5|          0.5|           2|2019-09-14 22:30:42| null|  null|null|
+--------+--------------------+-------------------+----------+-------------+------------+-------------------+-----+------+----+
only showing top 20 rows

+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|movie_id|               title|              genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|           tag_count|       min_time_tag|
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|       1|    Toy Story (1995)|[Adventure, Anima...|1995|      3.89|         0.93|       76813|1996-01-28 18:00:00|[{BEST OF ROTTEN ...|2006-01-12 19:19:35|
|       2|      Jumanji (1995)|[Adventure, Child...|1995|      3.28|         0.96|       30209|1996-01-28 18:00:00|[{KIDS, 1}, {DRIV...|2006-01-13 14:14:30|
|       3|Grumpier Old Men ...|   [Comedy, Romance]|1995|      3.17|         1.02|       15820|1996-01-29 17:54:45|[{OLD MEN, 1}, {O...|2006-01-16 00:28:45|
|       4|Waiting to Exhale...|[Comedy, Drama, R...|1995|      2.87|         1.11|        3028|1996-02-01 08:33:45|[{DIVORCE, 1}, {G...|2007-08-13 15:04:13|
|       5|Father of the Bri...|            [Comedy]|1995|      3.08|          1.0|       15801|1996-01-29 17:54:46|[{SEQUEL FEVER, 1...|2006-01-12 15:49:34|
|       6|         Heat (1995)|[Action, Crime, T...|1995|      3.86|         0.88|       31850|1996-02-01 08:34:00|[{TOO LONG, 7}, {...|2006-01-13 16:08:02|
|       7|      Sabrina (1995)|   [Comedy, Romance]|1995|      3.37|         0.96|       15596|1996-01-28 18:00:00|[{BASED ON A PLAY...|2006-01-12 15:51:23|
|       8| Tom and Huck (1995)|[Adventure, Child...|1995|      3.12|         0.99|        1584|1996-02-01 08:34:25|[{MARK TWAIN, 1},...|2007-07-02 17:07:15|
|       9| Sudden Death (1995)|            [Action]|1995|       3.0|         0.97|        4563|1996-02-01 08:34:08|[{VILLAIN, 1}, {S...|2006-06-05 01:08:31|
|      10|    GoldenEye (1995)|[Action, Adventur...|1995|      3.43|         0.88|       34942|1996-01-28 18:00:00|[{SATELLITE, 2}, ...|2006-01-13 20:07:42|
|      11|American Presiden...|[Comedy, Drama, R...|1995|      3.66|         0.91|       20256|1996-01-28 18:00:00|[{PRESIDENTIAL CA...|2006-01-15 19:28:24|
|      12|Dracula: Dead and...|    [Comedy, Horror]|1995|      2.68|         1.14|        4715|1996-01-28 18:00:00|[{LESLIE NIELSEN,...|2006-01-23 10:56:20|
|      13|        Balto (1995)|[Adventure, Anima...|1995|      3.36|          1.0|        2278|1996-02-02 06:33:34|[{FALLING FROM HE...|2006-02-21 14:01:49|
|      14|        Nixon (1995)|             [Drama]|1995|      3.43|         0.95|        6933|1996-01-29 17:54:59|[{CONFRONTATION, ...|2006-01-15 19:40:23|
|      15|Cutthroat Island ...|[Action, Adventur...|1995|      2.73|         1.09|        3249|1996-01-29 18:00:56|[{TREASURE, 11}, ...|2006-02-06 08:26:17|
|      16|       Casino (1995)|      [Crime, Drama]|1995|      3.83|         0.87|       23932|1996-01-29 17:54:44|[{JOE PESCI, 31},...|2006-01-13 13:47:20|
|      17|Sense and Sensibi...|    [Drama, Romance]|1995|      3.95|         0.97|       25248|1996-01-28 18:00:00|[{JANE AUSTEN, 49...|2006-01-12 15:51:36|
|      18|   Four Rooms (1995)|            [Comedy]|1995|      3.42|         1.03|        6688|1996-01-28 18:00:00|[{HOTEL, 8}, {TIM...|2006-01-17 13:48:44|
|      19|Ace Ventura: When...|            [Comedy]|1995|      2.67|         1.17|       26642|1996-01-28 18:00:00|[{STUPID AS HELL,...|2006-01-14 11:45:43|
|      20|  Money Train (1995)|[Action, Comedy, ...|1995|      2.89|         0.94|        4771|1996-02-01 08:33:43|[{SHOT TO DEATH, ...|2006-02-21 14:55:18|

In [7]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

assert A_df.count() == 0
assert B_df.count() == 4270
assert C_df.count() == 539
assert D_df.count() == 28815
assert E_df.count() == 2759
assert F_df.count() == 2251
assert G_df.count() == 47903

In [8]:
## CELDA ADICIONAL PARA PRUEBAS 

# DataFrame y tipos de datos de movies_id
movies_df.show()
movies_df.printSchema()

# DataFrame y tipos de datos de ratings_df
ratings_df.show()
ratings_df.printSchema()

#DataFrame y tipos de datos de tags_df
tags_df.show()
tags_df.printSchema()

+--------+--------------------+--------------------+----+
|movie_id|               title|              genres|year|
+--------+--------------------+--------------------+----+
|       1|    Toy Story (1995)|[Adventure, Anima...|1995|
|       2|      Jumanji (1995)|[Adventure, Child...|1995|
|       3|Grumpier Old Men ...|   [Comedy, Romance]|1995|
|       4|Waiting to Exhale...|[Comedy, Drama, R...|1995|
|       5|Father of the Bri...|            [Comedy]|1995|
|       6|         Heat (1995)|[Action, Crime, T...|1995|
|       7|      Sabrina (1995)|   [Comedy, Romance]|1995|
|       8| Tom and Huck (1995)|[Adventure, Child...|1995|
|       9| Sudden Death (1995)|            [Action]|1995|
|      10|    GoldenEye (1995)|[Action, Adventur...|1995|
|      11|American Presiden...|[Comedy, Drama, R...|1995|
|      12|Dracula: Dead and...|    [Comedy, Horror]|1995|
|      13|        Balto (1995)|[Adventure, Anima...|1995|
|      14|        Nixon (1995)|             [Drama]|1995|
|      15|Cutthroat Island ...|[Action, Adventur...|1995|
|      16|       Casino (1995)|      [Crime, Drama]|1995|
|      17|Sense and Sensibi...|    [Drama, Romance]|1995|
|      18|   Four Rooms (1995)|            [Comedy]|1995|
|      19|Ace Ventura: When...|            [Comedy]|1995|
|      20|  Money Train (1995)|[Action, Comedy, ...|1995|
+--------+--------------------+--------------------+----+
only showing top 20 rows

root
 |-- movie_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- year: integer (nullable = true)

+--------+----------+-------------+------------+-------------------+
|movie_id|avg_rating|stddev_rating|count_rating|    min_time_rating|
+--------+----------+-------------+------------+-------------------+
|    3298|       3.5|         0.88|        5743|2000-02-17 01:59:39|
|    5994|      3.55|         0.96|         531|2003-01-02 12:26:55|
|   83349|       2.7|         1.01|        2484|2011-01-12 21:16:05|
|  179119|      3.73|          0.9|        1734|2017-10-20 03:40:22|
|  182823|      2.96|         1.06|        1684|2017-12-22 13:37:11|
|   30905|      2.59|         1.06|          16|2005-07-15 19:20:31|
|   33683|      3.31|         1.06|        1004|2005-06-06 18:51:48|
|    2411|      2.93|         1.15|        6667|1998-11-29 12:34:01|
|     469|      3.28|         1.04|        1414|1996-02-29 18:00:00|
|    4857|       3.9|         0.95|        3783|2001-09-29 21:40:36|
|    5171|       2.9|         1.03|        5380|2002-02-25 11:48:35|
|    2730|      3.89|         0.93|        3945|1999-07-22 18:32:42|
|      74|       3.3|         1.02|        3864|1996-02-01 08:34:07|
|   86833|      3.51|         1.05|        6477|2011-05-17 05:46:58|
|    3260|      3.76|         0.95|        3263|2000-01-15 11:26:08|
|    5319|      3.95|         0.78|        1819|2002-04-13 23:26:11|
|   32296|       2.6|         1.13|        2093|2005-03-14 01:14:53|
|    6636|      3.59|         0.82|        1081|2003-08-04 07:35:27|
|    5548|      3.02|         0.88|         984|2002-08-11 20:23:27|
|    7897|      3.53|         0.85|         210|2004-05-12 08:20:17|
+--------+----------+-------------+------------+-------------------+
only showing top 20 rows

root
 |-- movie_id: string (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- stddev_rating: double (nullable = true)
 |-- count_rating: long (nullable = true)
 |-- min_time_rating: timestamp (nullable = true)

+--------+--------------------+-------------------+
|movie_id|           tag_count|       min_time_tag|
+--------+--------------------+-------------------+
|  100048|[{BASED ON A TRUE...|2018-05-24 21:02:43|
|  100159|[{TOURISTS, 1}, {...|2013-01-28 04:35:38|
|  100171|[{17TH CENTURY, 1...|2018-05-24 20:20:36|
|  100232|        [{PILOT, 1}]|2018-06-05 22:27:18|
|  100465|[{AUTOBIOGRAPHICA...|2018-05-18 00:40:16|
|  100505|[{SIMON WINCER, 1...|2013-02-15 04:43:30|
|  100511|[{FORUGH FARROKHZ...|2013-02-15 04:38:37|
|  100538|[{JOSEF VON STERN...|2013-02-15 15:44:19|
|  100613|[{CIVIL WAR, 1}, ...|2018-06-09 13:10:12|
|  101197|[{BASED ON NOVEL,...|2013-03-10 16:17:48|
|  101476|[{FAMILY DISHARMO...|2013-03-29 06:03:52|
|  101749|[{SMALL TOWN LIFE...|2013-04-27 11:45:06|
|  101835|[{INDEPENDENT FIL...|2018-05-23 01:24:23|
|  101891|[{SPORTS, 1}, {SK...|2013-04-13 11:29:54|
|  101904|[{ROKO BELIC, 1},...|2013-04-14 14:04:49|
|    1020|[{BASED ON A TRUE...|2006-01-12 15:54:56|
|  102028|[{3D, 1}, {BEARS,...|2013-04-20 22:24:35|
|  102062|[{MARK CHRISTOPHE...|2014-02-14 22:11:02|
|  102171|[{COMPASSIONATE, ...|2013-04-28 13:10:45|
|    1025|[{PROSPECT PREFER...|2006-01-15 19:45:59|
+--------+--------------------+-------------------+
only showing top 20 rows

root
 |-- movie_id: string (nullable = true)
 |-- tag_count: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- tag: string (nullable = true)
 |    |    |-- count: long (nullable = true)
 |-- min_time_tag: timestamp (nullable = true)

#### Actividad 3:
##### TO DO ->    Con operaciones join genera un dataframe que contenga la union de todos los conjuntos (desde el A hasta el G) sin repetir registros.

In [9]:
## TU CODIGO VA EN ESTA CELDA:

# Union de los conjuntos A - G
universe_df = movies_df.join(ratings_df, ["movie_id"], "outer").join(tags_df, ["movie_id"], "outer")
universe_df.show(truncate=False)

+--------+-----------------------------------------------+-----------------------------------+----+----------+-------------+------------+-------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|movie_id|title                                          |genres                             |year|avg_rating|stddev_rating|count_rating|min_time_rating    |tag_count                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |min_time_tag       |
+--------+-----------------------------------------------+-----------------------------------+----+----------+-------------+------------+-------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|100070  |Punching the Clown (2009)                      |[Comedy]                           |2009|3.54      |0.89         |13          |2013-01-24 11:24:50|[{GOOD HUMOUR, 1}, {STRUGGLING CAREER, 1}, {COMEDY, 1}, {COMEDIAN, 2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |2017-05-19 17:17:36|
|100200  |Churchill: The Hollywood Years (2004)          |[Comedy, War]                      |2004|2.0       |1.2          |8           |2013-01-30 00:12:22|null                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |null               |
|100277  |Tabu (2012)                                    |[Drama, Romance]                   |2012|3.59      |1.01         |75          |2013-02-03 21:55:57|[{SILENT FILM, 1}, {MIGUEL GOMES, 1}, {ADULTERY, 1}, {AFRICA, 1}, {PORTUGAL, 1}, {TRAGIC LOVE, 1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |2013-02-04 02:24:23|
|100534  |In the Edges: The 'Grizzly Man' Session (2005) |[Documentary]                      |2005|3.25      |0.25         |2           |2013-02-15 15:23:21|null                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |null               |
|100562  |Goddess of 1967, The (2000)                    |[Comedy, Drama, Romance]           |2000|3.42      |1.07         |13          |2013-10-29 20:58:51|[{CLARA LAW, 1}, {DANCING, 1}, {AUSTRALIA, 1}, {WOMAN DIRECTOR, 1}, {POLICE, 1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |2013-02-18 02:10:05|
|100567  |PressPausePlay (2011)                          |[Documentary]                      |2011|3.84      |0.63         |16          |2014-12-01 20:15:24|[{DAVID DWORSKY, 1}, {VICTOR KÖHLER, 1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |2013-02-18 02:09:01|
|1008    |Davy Crockett, King of the Wild Frontier (1955)|[Adventure, Western]               |1955|3.32      |0.96         |855         |1996-08-22 10:48:36|[{CREEK INDIAN WAR, 1}, {BIOGRAPHY, 1}, {WILLIAM BLAKEWELL, 1}, {DAVY CROCKETT, 2}, {HISTORY, 1}, {FRONTIERSMAN, 1}, {DISNEY, 1}, {INDIANS, 1}, {BASIL RUYSDAEL, 1}, {TEXAS, 1}, {CONGRESS, 1}, {GEORGE RUSSELL, 1}, {BUDDY EBSEN, 1}, {NORMAN FOSTER, 1}, {FESS PARKER, 1}, {A LIST, 1}, {ALAMO, 1}, {BD-R, 1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |2006-02-23 09:23:25|
|100942  |Gunfighter's Moon  (1997)                      |[Romance, Western]                 |1997|2.38      |1.08         |4           |2013-03-01 18:24:12|[{OLD LOVE, 1}, {GUNFIGHTER, 1}, {RELATIONSHIPS, 1}, {SHERIFF, 1}, {FINDING A CHILD, 1}, {SACRIFICE, 1}, {TOWN, 1}, {WESTERN, 1}, {VIOLENCE, 1}, {GUNFIGHT, 1}, {ROMANCE, 1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |2016-03-08 06:13:25|
|101     |Bottle Rocket (1996)                           |[Adventure, Comedy, Crime, Romance]|1996|3.76      |0.88         |5415        |1996-03-17 15:33:55|[{OWEN WILSON, 5}, {NOTHING GOES RIGHT, 4}, {WISTFUL, 1}, {FRAT PACK, 1}, {CRITERION, 4}, {SOUNDTRACK, 1}, {MENTAL HOSPITAL, 1}, {LAUNDRY ROOM, 1}, {CULT FILM, 1}, {BASED ON ITS SHORT, 1}, {HUMOROUS, 2}, {BILL MURRAY, 2}, {ESCAPADE, 2}, {UNDERWHELMING, 1}, {WHOLESOME, 1}, {REMAKE, 1}, {SIBLING RELATIONSHIP, 5}, {NERVOUS BREAKDOWN, 1}, {ACTING DEBUT, 2}, {NEED TO OWN, 1}, {ROBBERY, 2}, {THIEVES, 2}, {LOVE AT FIRST SIGHT, 1}, {DVD-VIDEO, 1}, {CRIME BOSS, 1}, {LANGUAGE BARRIER, 4}, {BURGLAR, 2}, {CRIME GONE AWRY, 1}, {THEFT, 1}, {BARBERSHOP, 1}, {CRIME, 2}, {TV, 1}, {DEADPAN, 2}, {LOVE, 1}, {TWO WORD TITLE, 1}, {KICKED IN THE BUTT, 1}, {DIRECTORIAL DEBUT, 5}, {TEXAS, 3}, {LUKE WILSON, 4}, {DISAPPOINTING, 1}, {CINEMATOGRAPHY, 1}, {THIEF, 1}, {SWIMMING POOL, 1}, {QUIRKY, 22}, {MAID, 2}, {GREAT SOUNDTRACK, 2}, {ACTOR SHARES FIRST NAME WITH CHARACTER, 1}, {STYLIZED, 8}, {NA DYSKU, 1}, {MOTEL, 5}, {SLOW, 1}, {FIREWORKS, 1}, {OFF-BEAT COMEDY, 18}, {HOLES90S, 1}, {UNLIKELY CRIMINALS, 3}, {THEATER, 1}, {PRISON, 1}, {PINBALL, 1}, {JAIL, 1}, {CAPER, 1}, {BOOKSTORE, 1}, {HEIST, 6}, {MEDIOCRE, 1}, {WES ANDERSON, 28}, {RENT, 1}, {MENTAL ILLNESS, 2}, {DARK COMEDY, 1}, {FRIENDSHIP, 3}, {UNLIKELY FRIENDSHIPS, 1}, {TO-RENT, 1}, {TARGET PRACTICE, 1}, {PSYCHIATRIC HOSPITAL, 1}, {BASED ON SHORT FILM, 1}, {SIBLING RELATIONSHIPS, 2}, {GAS STATION, 1}, {SEEN MORE THAN ONCE, 2}, {SWEET, 6}, {TALKY, 2}, {INDEPENDENT FILM, 3}, {FOUND FAMILY, 1}]|2006-01-12 15:48:33|

In [10]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
universe_df.show(1)
"""
Ejemplo de salida:
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|movie_id|               title|              genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|           tag_count|       min_time_tag|
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|  100062|My Way (Mai Wei) ...|[Action, Drama, War]|2011|      3.63|         0.83|          64|2014-03-11 21:23:33|[{PRESS-GANGED, 1...|2018-05-26 16:40:54|
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
only showing top 1 row
"""

+--------+--------------------+--------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|movie_id|               title|  genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|           tag_count|       min_time_tag|
+--------+--------------------+--------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|  100070|Punching the Clow...|[Comedy]|2009|      3.54|         0.89|          13|2013-01-24 11:24:50|[{GOOD HUMOUR, 1}...|2017-05-19 17:17:36|
+--------+--------------------+--------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
only showing top 1 row

'\nEjemplo de salida:\n+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+\n|movie_id|               title|              genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|           tag_count|       min_time_tag|\n+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+\n|  100062|My Way (Mai Wei) ...|[Action, Drama, War]|2011|      3.63|         0.83|          64|2014-03-11 21:23:33|[{PRESS-GANGED, 1...|2018-05-26 16:40:54|\n+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+\nonly showing top 1 row\n'

In [11]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

test_value = [Row(
    movie_id='100062', 
    title='My Way (Mai Wei) (2011)', 
    genres=['Action', 'Drama', 'War'], 
    year=2011, 
    avg_rating=3.63, 
    stddev_rating=0.83, 
    count_rating=64, 
    min_time_rating=datetime.datetime(2014, 3, 11, 21, 23, 33), 
    tag_count=[
        Row(tag='PRESS-GANGED', count=1),
        Row(tag='WORLD WAR II', count=1),
        Row(tag='WAR', count=1),
        Row(tag='FATE', count=1)],
    min_time_tag=datetime.datetime(2018, 5, 26, 16, 40, 54))]

expected_columns = ["movie_id", "title", "genres", "year",
                    "avg_rating", "stddev_rating", "count_rating",
                    "min_time_rating", "tag_count", "min_time_tag"]

assert universe_df.count() == 86537
assert set(universe_df.columns) - set(expected_columns) == set()
assert set(expected_columns) - set(universe_df.columns) == set()
assert universe_df \
    .select(*expected_columns) \
    .filter(f.col("movie_id") == "100062") \
    .collect() == test_value

#### Actividad 4:
##### TO DO ->    La estructura del dataframe final de acuerdo al análisis realizado por marketing es el dado por la union del conjunto de datos: A, D, E y G. Realiza este proceso y almacena el dataframe resultante en la variable "final_df"
#####

In [12]:
# CELDA ADICIONAL 

# Conteo de movies_df
movies_df.count()

79477

In [13]:
# CELDA ADICIONAL 

# Conteo de ratings_df
ratings_df.count()

83239

In [14]:
# CELDA ADICIONAL 

# Conteo de tags_df
tags_df.count()

53452

In [15]:
## TU CODIGO VA EN ESTA CELDA:

# Importaciones extra
from pyspark.sql.functions import col
from pyspark.sql.types import StringType, DoubleType, LongType, IntegerType

# Casteos y selección de las columnas para "movies_df"
movies_select = movies_df.select(
    col("movie_id").cast(StringType()).alias("movie_id"),
    col("title"),
    col("genres"),
    col("year").cast(IntegerType()).alias("year")
)

# Casteo y selección de las columnas para "ratings_df"
ratings_select = ratings_df.select(
    col("movie_id").cast(StringType()).alias("movie_id"),
    col("avg_rating").cast(DoubleType()).alias("avg_rating"),
    col("stddev_rating").cast(DoubleType()).alias("stddev_rating"),
    col("count_rating").cast(LongType()).alias("count_rating"),
    col("min_time_rating")
)

# Casteo y selección de las columnas para "tags_df"
tags_select = tags_df.select(
    col("movie_id").cast(StringType()).alias("movie_id"),
    col("tag_count"),
    col("min_time_tag")
)

# Realiza las uniones de los DataFrames seleccionados utilizando join outer
joined_df = movies_select.join(ratings_select, ["movie_id"], "left")
final_df = joined_df.join(tags_select, ["movie_id"], "left")

# Muestra el resultado
final_df.show()
final_df.count()

+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|movie_id|               title|              genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|           tag_count|       min_time_tag|
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|       1|    Toy Story (1995)|[Adventure, Anima...|1995|      3.89|         0.93|       76813|1996-01-28 18:00:00|[{BEST OF ROTTEN ...|2006-01-12 19:19:35|
|       2|      Jumanji (1995)|[Adventure, Child...|1995|      3.28|         0.96|       30209|1996-01-28 18:00:00|[{KIDS, 1}, {DRIV...|2006-01-13 14:14:30|
|       3|Grumpier Old Men ...|   [Comedy, Romance]|1995|      3.17|         1.02|       15820|1996-01-29 17:54:45|[{OLD MEN, 1}, {O...|2006-01-16 00:28:45|
|       4|Waiting to Exhale...|[Comedy, Drama, R...|1995|      2.87|         1.11|        3028|1996-02-01 08:33:45|[{DIVORCE, 1}, {G...|2007-08-13 15:04:13|
|       5|Father of the Bri...|            [Comedy]|1995|      3.08|          1.0|       15801|1996-01-29 17:54:46|[{SEQUEL FEVER, 1...|2006-01-12 15:49:34|
|       6|         Heat (1995)|[Action, Crime, T...|1995|      3.86|         0.88|       31850|1996-02-01 08:34:00|[{TOO LONG, 7}, {...|2006-01-13 16:08:02|
|       7|      Sabrina (1995)|   [Comedy, Romance]|1995|      3.37|         0.96|       15596|1996-01-28 18:00:00|[{BASED ON A PLAY...|2006-01-12 15:51:23|
|       8| Tom and Huck (1995)|[Adventure, Child...|1995|      3.12|         0.99|        1584|1996-02-01 08:34:25|[{MARK TWAIN, 1},...|2007-07-02 17:07:15|
|       9| Sudden Death (1995)|            [Action]|1995|       3.0|         0.97|        4563|1996-02-01 08:34:08|[{VILLAIN, 1}, {S...|2006-06-05 01:08:31|
|      10|    GoldenEye (1995)|[Action, Adventur...|1995|      3.43|         0.88|       34942|1996-01-28 18:00:00|[{SATELLITE, 2}, ...|2006-01-13 20:07:42|
|      11|American Presiden...|[Comedy, Drama, R...|1995|      3.66|         0.91|       20256|1996-01-28 18:00:00|[{PRESIDENTIAL CA...|2006-01-15 19:28:24|
|      12|Dracula: Dead and...|    [Comedy, Horror]|1995|      2.68|         1.14|        4715|1996-01-28 18:00:00|[{LESLIE NIELSEN,...|2006-01-23 10:56:20|
|      13|        Balto (1995)|[Adventure, Anima...|1995|      3.36|          1.0|        2278|1996-02-02 06:33:34|[{FALLING FROM HE...|2006-02-21 14:01:49|
|      14|        Nixon (1995)|             [Drama]|1995|      3.43|         0.95|        6933|1996-01-29 17:54:59|[{CONFRONTATION, ...|2006-01-15 19:40:23|
|      15|Cutthroat Island ...|[Action, Adventur...|1995|      2.73|         1.09|        3249|1996-01-29 18:00:56|[{TREASURE, 11}, ...|2006-02-06 08:26:17|
|      16|       Casino (1995)|      [Crime, Drama]|1995|      3.83|         0.87|       23932|1996-01-29 17:54:44|[{JOE PESCI, 31},...|2006-01-13 13:47:20|
|      17|Sense and Sensibi...|    [Drama, Romance]|1995|      3.95|         0.97|       25248|1996-01-28 18:00:00|[{JANE AUSTEN, 49...|2006-01-12 15:51:36|
|      18|   Four Rooms (1995)|            [Comedy]|1995|      3.42|         1.03|        6688|1996-01-28 18:00:00|[{HOTEL, 8}, {TIM...|2006-01-17 13:48:44|
|      19|Ace Ventura: When...|            [Comedy]|1995|      2.67|         1.17|       26642|1996-01-28 18:00:00|[{STUPID AS HELL,...|2006-01-14 11:45:43|
|      20|  Money Train (1995)|[Action, Comedy, ...|1995|      2.89|         0.94|        4771|1996-02-01 08:33:43|[{SHOT TO DEATH, ...|2006-02-21 14:55:18|
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
only showing top 20 rows

79477

In [16]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
final_df.show(1)
"""
Ejemplo de salida:
+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|movie_id|           title|              genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|           tag_count|       min_time_tag|
+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|       1|Toy Story (1995)|[Adventure, Anima...|1995|      3.89|         0.93|       76813|1996-01-28 18:00:00|[{TIME TRAVEL, 11...|2006-01-12 19:19:35|
+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
only showing top 1 row
"""

+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|movie_id|           title|              genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|           tag_count|       min_time_tag|
+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|       1|Toy Story (1995)|[Adventure, Anima...|1995|      3.89|         0.93|       76813|1996-01-28 18:00:00|[{BEST OF ROTTEN ...|2006-01-12 19:19:35|
+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
only showing top 1 row

'\nEjemplo de salida:\n+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+\n|movie_id|           title|              genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|           tag_count|       min_time_tag|\n+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+\n|       1|Toy Story (1995)|[Adventure, Anima...|1995|      3.89|         0.93|       76813|1996-01-28 18:00:00|[{TIME TRAVEL, 11...|2006-01-12 19:19:35|\n+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+\nonly showing top 1 row\n'

In [17]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

test_value = [Row(
    movie_id='100062', 
    title='My Way (Mai Wei) (2011)', 
    genres=['Action', 'Drama', 'War'], 
    year=2011, 
    avg_rating=3.63, 
    stddev_rating=0.83, 
    count_rating=64, 
    min_time_rating=datetime.datetime(2014, 3, 11, 21, 23, 33), 
    tag_count=[
        Row(tag='PRESS-GANGED', count=1),
        Row(tag='WORLD WAR II', count=1),
        Row(tag='WAR', count=1),
        Row(tag='FATE', count=1)],
    min_time_tag=datetime.datetime(2018, 5, 26, 16, 40, 54))]

expected_columns = ["movie_id", "title", "genres", "year",
                    "avg_rating", "stddev_rating", "count_rating",
                    "min_time_rating", "tag_count", "min_time_tag"]

assert final_df.count() == 79477

assert set(final_df.columns) - set(expected_columns) == set()
assert set(expected_columns) - set(final_df.columns) == set()
assert final_df \
    .select(*expected_columns) \
    .filter(f.col("movie_id") == "100062") \
    .collect() == test_value

#### Actividad 5:
##### TO DO ->    El cliente nos ha solicitado llenar los valores "null" de la columna "year", para esto nos ha pedido seguir la siguiente regla:
- ##### Si la columna "year" es null, colocar el año menor de las columnas "min_time_rating" y "min_time_tag"
- ##### Si la columna "year" es null y si la columna "min_time_rating" es null colocar el año de la columna "min_time_tag".
- ##### Si la columna "year" es null y si la columna "min_time_tag" es null colocar el año de la columna "min_time_rating".
- ##### En cualquier otro caso mantener el valor entero 1970
##### Adicional nos ha solicitado generar una columna llamada "year_type" con los siguientes valores:
- ##### Si la columna "year" venia con un valor distinto a null, asignar el valor "YO"
- ##### Si a la columna "year" tenia valor null y las columnas "min_time_tag" y "min_time_rating" tienen el mismo año asignar "YRT"
- ##### Si a la columna "year" tenia valor null y ((el año de la columna "min_time_tag" es menor al año de "min_time_rating") o (la columna  min_time_rating es null)) asignar "YT"
- ##### Si a la columna "year" tenia valor null y ((el año de la columna "min_time_rating" es menor al año de "min_time_tag") o (la columna  min_time_tag es null)) asignar "YR"
- ##### En cualquier otro caso mantener "YU"
##### Al finalizar este proceso eliminar las columnas "min_time_rating" y "min_time_tag"
- Para resolver estos ejercicios podrías utilizar la función year -> https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.year.html#pyspark.sql.functions.year
##### Este proceso se desarrollará en un método con la firma: def get_last_movies_df(df: DataFrame) -> DataFrame
##### La estructura del dataframe de salida será:
* |-- movie_id: string
* |-- title: string
* |-- avg_rating: double
* |-- count_rating: long
* |-- stddev_rating: double
* |-- genres: array
* |--- |-- element: string
* |-- tag_count: array
* |--- |-- element: struct
* |--- |--- |tag: string
* |--- |--- |count: long
* |-- year: integer
* |-- year_type: string
##### NO UTILIZAR withColumn NI withColumnRenamed

In [34]:
## TU CODIGO VA EN ESTA CELDA:
# Importaciones extra
from pyspark.sql import DataFrame
from pyspark.sql.functions import year, when, col, lit, array_sort 

# Función principal para procesar el DataFrame (aplicar a final_df)
def get_last_movies_df(df: DataFrame) -> DataFrame:
    result_df = df.select(
        col("movie_id"),
        col("title"),
        col("avg_rating"),
        col("count_rating"),
        col("stddev_rating"),
        col("genres"),
        array_sort(col("tag_count")).alias("tag_count"),
        when(col("year").isNotNull(), "YO") \
           .when((year("min_time_rating")<year("min_time_tag"))|(col("min_time_tag").isNull()), "YR") \
           .when((year("min_time_tag")<year("min_time_rating"))|(col("min_time_rating").isNull()), "YT") \
           .when(year("min_time_tag")==year("min_time_rating"), "YRT") \
           .otherwise(lit("YU")).alias("year_type"),      
        when(col("year").isNotNull(), col("year")) \
           .when((year("min_time_rating")<=year("min_time_tag"))|(col("min_time_tag").isNull()), year(col("min_time_rating"))) \
           .when((year("min_time_tag")<year("min_time_rating"))|(col("min_time_rating").isNull()), year(col("min_time_tag"))) \
           .otherwise(lit(1970)).alias("year")
    )
    return result_df
    
# Llamar a la función con tu DataFrame de entrada
result_df = get_last_movies_df(final_df)

# Mostrar el resultado
result_df.show()

# Esquema de datos
result_df.printSchema()

+--------+--------------------+----------+------------+-------------+--------------------+--------------------+---------+----+
|movie_id|               title|avg_rating|count_rating|stddev_rating|              genres|           tag_count|year_type|year|
+--------+--------------------+----------+------------+-------------+--------------------+--------------------+---------+----+
|       1|    Toy Story (1995)|      3.89|       76813|         0.93|[Adventure, Anima...|[{1990S, 1}, {200...|       YO|1995|
|       2|      Jumanji (1995)|      3.28|       30209|         0.96|[Adventure, Child...|[{1860S, 1}, {196...|       YO|1995|
|       3|Grumpier Old Men ...|      3.17|       15820|         1.02|   [Comedy, Romance]|[{ANN MARGARET, 1...|       YO|1995|
|       4|Waiting to Exhale...|      2.87|        3028|         1.11|[Comedy, Drama, R...|[{BASED ON NOVEL ...|       YO|1995|
|       5|Father of the Bri...|      3.08|       15801|          1.0|            [Comedy]|[{4TH WALL, 1}, {...|       YO|1995|
|       6|         Heat (1995)|      3.86|       31850|         0.88|[Action, Crime, T...|[{1, 1}, {7.5-FIL...|       YO|1995|
|       7|      Sabrina (1995)|      3.37|       15596|         0.96|   [Comedy, Romance]|[{AMERICAN ABROAD...|       YO|1995|
|       8| Tom and Huck (1995)|      3.12|        1584|         0.99|[Adventure, Child...|[{19TH CENTURY, 1...|       YO|1995|
|       9| Sudden Death (1995)|       3.0|        4563|         0.97|            [Action]|[{1990S, 1}, {ACT...|       YO|1995|
|      10|    GoldenEye (1995)|      3.43|       34942|         0.88|[Action, Adventur...|[{007, 23}, {007 ...|       YO|1995|
|      11|American Presiden...|      3.66|       20256|         0.91|[Comedy, Drama, R...|[{23.03.06, 1}, {...|       YO|1995|
|      12|Dracula: Dead and...|      2.68|        4715|         1.14|    [Comedy, Horror]|[{ABANDONED CHAPE...|       YO|1995|
|      13|        Balto (1995)|      3.36|        2278|          1.0|[Adventure, Anima...|[{1920S, 1}, {199...|       YO|1995|
|      14|        Nixon (1995)|      3.43|        6933|         0.95|             [Drama]|[{1920S, 1}, {193...|       YO|1995|
|      15|Cutthroat Island ...|      2.73|        3249|         1.09|[Action, Adventur...|[{1660S, 1}, {17T...|       YO|1995|
|      16|       Casino (1995)|      3.83|       23932|         0.87|      [Crime, Drama]|[{1970S, 1}, {198...|       YO|1995|
|      17|Sense and Sensibi...|      3.95|       25248|         0.97|    [Drama, Romance]|[{1800S, 1}, {181...|       YO|1995|
|      18|   Four Rooms (1995)|      3.42|        6688|         1.03|            [Comedy]|[{4, 1}, {ACTOR D...|       YO|1995|
|      19|Ace Ventura: When...|      2.67|       26642|         1.17|            [Comedy]|[{ACE VENTURA, 1}...|       YO|1995|
|      20|  Money Train (1995)|      2.89|        4771|         0.94|[Action, Comedy, ...|[{ACTION HERO, 1}...|       YO|1995|
+--------+--------------------+----------+------------+-------------+--------------------+--------------------+---------+----+
only showing top 20 rows

root
 |-- movie_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- count_rating: long (nullable = true)
 |-- stddev_rating: double (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- tag_count: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- tag: string (nullable = true)
 |    |    |-- count: long (nullable = true)
 |-- year_type: string (nullable = false)
 |-- year: integer (nullable = true)

In [31]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

movies_df = get_last_movies_df(final_df)
movies_df.show(1)
"""
Ejemplo de salida esperada (el orden de la columnas podría ser distinto):
+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+
|movie_id|           title|avg_rating|count_rating|stddev_rating|              genres|           tag_count|year|year_type|
+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+
|       1|Toy Story (1995)|      3.89|       76813|         0.93|[Adventure, Anima...|[{TIME TRAVEL, 11...|1995|       YO|
+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+
only showing top 1 row
"""

+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+
|movie_id|           title|avg_rating|count_rating|stddev_rating|              genres|           tag_count|year|year_type|
+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+
|       1|Toy Story (1995)|      3.89|       76813|         0.93|[Adventure, Anima...|[{1990S, 1}, {200...|1995|       YO|
+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+
only showing top 1 row

'\nEjemplo de salida esperada (el orden de la columnas podría ser distinto):\n+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+\n|movie_id|           title|avg_rating|count_rating|stddev_rating|              genres|           tag_count|year|year_type|\n+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+\n|       1|Toy Story (1995)|      3.89|       76813|         0.93|[Adventure, Anima...|[{TIME TRAVEL, 11...|1995|       YO|\n+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+\nonly showing top 1 row\n'

In [35]:
# CELDA ADICIONAL
movies_df \
    .select(*expected_columns) \
    .filter(f.col("movie_id") == "179479").show(1, False)

movies_df.groupBy(f.col("year_type")).count().orderBy(f.col("count").desc()).show()

+--------+----------------------------------------------+----------+------------+-------------+-------------+-------------------------------------------------------------------------------------------+----+---------+
|movie_id|title                                         |avg_rating|count_rating|stddev_rating|genres       |tag_count                                                                                  |year|year_type|
+--------+----------------------------------------------+----------+------------+-------------+-------------+-------------------------------------------------------------------------------------------+----+---------+
|179479  |Samadhi Part 1: Maya, the Illusion of the Self|4.19      |8           |0.75         |[Documentary]|[{EASTERN PHILOSOPHY, 1}, {MEDITATION, 1}, {METAPHYSICAL, 1}, {NEW AGE, 1}, {SPIRITUAL, 1}]|2017|YT       |
+--------+----------------------------------------------+----------+------------+-------------+-------------+-------------------------------------------------------------------------------------------+----+---------+

+---------+-----+
|year_type|count|
+---------+-----+
|       YO|79215|
|       YR|  177|
|      YRT|   57|
|       YT|   28|
+---------+-----+

In [28]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

test_value = [Row(
    movie_id='179479',
    title='Samadhi Part 1: Maya, the Illusion of the Self',
    avg_rating=4.19,
    count_rating=8,
    stddev_rating=0.75,
    genres=['Documentary'],
    tag_count=[Row(tag='EASTERN PHILOSOPHY', count=1),
               Row(tag='MEDITATION', count=1),
               Row(tag='METAPHYSICAL', count=1),
               Row(tag='NEW AGE', count=1),
               Row(tag='SPIRITUAL', count=1)],
    year=2017,
    year_type='YT')]

expected_count_by_year_type = [
    Row(year_type='YO', count=79235),
    Row(year_type='YR', count=159),
    Row(year_type='YRT', count=55),
    Row(year_type='YT', count=28)]

expected_columns = ["movie_id","title","avg_rating","count_rating","stddev_rating","genres","tag_count","year","year_type"]

expected_schema = 'movie_id STRING,title STRING,avg_rating DOUBLE,count_rating BIGINT,stddev_rating DOUBLE,genres ARRAY<STRING>,tag_count ARRAY<STRUCT<tag: STRING, count: BIGINT>>,year INT,year_type STRING NOT NULL'

assert set(movies_df.columns) - set(expected_columns) == set()
assert set(expected_columns) - set(movies_df.columns) == set()
assert movies_df.filter(f.col("year").isNull()).count() == 0
assert movies_df \
    .select(*expected_columns) \
    .filter(f.col("movie_id") == "179479") \
    .collect() == test_value
assert schema_to_ddl(movies_df.select(*expected_columns)) == expected_schema
assert movies_df.groupBy(f.col("year_type")).count().orderBy(f.col("count").desc()).collect() == expected_count_by_year_type

AssertionError:

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
dfs = [(movies_df, "08/movies")]

write_tmp_df(dfs)