#### El área de QA comentó que la estructura de las tablas cargadas en formato parquet no cumplen las normas de calidad requeridas. Por lo tanto hay que renombrar y/o castear las columnas indicadas. 

##### Nota: Para poder trabajar con este notebook es necesario haber terminado el ejercicio de la sesión 04

In [94]:
# NO MODIFICAR CONTENIDO DE ESTA CELDA
%run utils.ipynb

In [95]:
# NO MODIFICAR CONTENIDO DE ESTA CELDA
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

# Creación de sesión de Spark
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("ejercicio_5") \
    .getOrCreate()

# Carga de tablas requeridas
root_path = "../resources/data/tmp/parquet/"
names_list = ["04/movies", "04/ratings", "04/tags"]
df_dict = read_tmp_df(names_list)

movies_df = df_dict["04/movies"]
ratings_df = df_dict["04/ratings"]
tags_df = df_dict["04/tags"]

movies_df.show(1, False)
ratings_df.show(1)
tags_df.show(1)

+-------+----------------+-------------------------------------------+
|movieId|title           |genres                                     |
+-------+----------------+-------------------------------------------+
|1      |Toy Story (1995)|Adventure|Animation|Children|Comedy|Fantasy|
+-------+----------------+-------------------------------------------+
only showing top 1 row

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|      1|   4.0|1225734739|
+------+-------+------+----------+
only showing top 1 row

+------+-------+------+----------+
|userId|movieId|   tag| timestamp|
+------+-------+------+----------+
|224183|    832|acting|1496668827|
+------+-------+------+----------+
only showing top 1 row

#### Actividad 1:
##### TO DO ->    Para el dataframe "movies_df":
- ##### Convierte la columna "genres" en un array, donde cada genero corresponde a una posición del array generado. Como resultado el esquema para la columna "genres" será un ArrayType(StringType()). 
    - Apoyate de la función split de Spark -> https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.split.html#pyspark.sql.functions.split
- ##### Renombra la columna "movieId" por "movie_id"

In [96]:
## TU CODIGO VA EN ESTA CELDA:
# Colocar transformaciones a casted_movies_df
#Transformación para renombrar la columna "moveId" -> withColumnRenamed
#Transformación para covertir la columna "genres" en un array -> split
casted_movies_df = movies_df

# Importaciones
from pyspark.sql.functions import split
from pyspark.sql.types import ArrayType, StringType

# Convertir columna "genres" a un array
casted_movies_df = casted_movies_df.withColumn("genres", split(casted_movies_df["genres"], "\\|").cast(ArrayType(StringType())))

# Renombrar la columna "movieId" por "movie_id"
casted_movies_df = casted_movies_df.withColumnRenamed("movieId", "movie_id")

# Imprimir resultados
casted_movies_df.show()

+--------+--------------------+--------------------+
|movie_id|               title|              genres|
+--------+--------------------+--------------------+
|       1|    Toy Story (1995)|[Adventure, Anima...|
|       2|      Jumanji (1995)|[Adventure, Child...|
|       3|Grumpier Old Men ...|   [Comedy, Romance]|
|       4|Waiting to Exhale...|[Comedy, Drama, R...|
|       5|Father of the Bri...|            [Comedy]|
|       6|         Heat (1995)|[Action, Crime, T...|
|       7|      Sabrina (1995)|   [Comedy, Romance]|
|       8| Tom and Huck (1995)|[Adventure, Child...|
|       9| Sudden Death (1995)|            [Action]|
|      10|    GoldenEye (1995)|[Action, Adventur...|
|      11|American Presiden...|[Comedy, Drama, R...|
|      12|Dracula: Dead and...|    [Comedy, Horror]|
|      13|        Balto (1995)|[Adventure, Anima...|
|      14|        Nixon (1995)|             [Drama]|
|      15|Cutthroat Island ...|[Action, Adventur...|
|      16|       Casino (1995)|      [Crime, Drama]|
|      17|Sense and Sensibi...|    [Drama, Romance]|
|      18|   Four Rooms (1995)|            [Comedy]|
|      19|Ace Ventura: When...|            [Comedy]|
|      20|  Money Train (1995)|[Action, Comedy, ...|
+--------+--------------------+--------------------+
only showing top 20 rows

In [97]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
casted_movies_df.show(1, False)
"""
Ejemplo de salida esperada:
+--------+----------------+-------------------------------------------------+
|movie_id|title           |genres                                           |
+--------+----------------+-------------------------------------------------+
|1       |Toy Story (1995)|[Adventure, Animation, Children, Comedy, Fantasy]|
+--------+----------------+-------------------------------------------------+
only showing top 1 row
"""

+--------+----------------+-------------------------------------------------+
|movie_id|title           |genres                                           |
+--------+----------------+-------------------------------------------------+
|1       |Toy Story (1995)|[Adventure, Animation, Children, Comedy, Fantasy]|
+--------+----------------+-------------------------------------------------+
only showing top 1 row

'\nEjemplo de salida esperada:\n+--------+----------------+-------------------------------------------------+\n|movie_id|title           |genres                                           |\n+--------+----------------+-------------------------------------------------+\n|1       |Toy Story (1995)|[Adventure, Animation, Children, Comedy, Fantasy]|\n+--------+----------------+-------------------------------------------------+\nonly showing top 1 row\n'

In [98]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
assert "movie_id" in casted_movies_df.columns
assert "title" in casted_movies_df.columns
assert "genres" in casted_movies_df.columns
assert len(casted_movies_df.columns) == 3

casted_movies_df = casted_movies_df.select("movie_id", "title", "genres")
assert schema_to_ddl(casted_movies_df) == 'movie_id STRING,title STRING,genres ARRAY<STRING>'

#### Actividad 2:
##### TO DO ->    Para el dataframe "ratings_df":
- ##### Renombra la columna "movieId" por "movie_id"
- ##### Renombra la columna "userId" por "user_id"
- ##### Castea la columna "rating" a formato double.
- ##### Convierte la columna "timestamp" a formato TimeStampType con formato logico yyyy-MM-dd HH:mm:ss, la nueva columna generada será "time".
    - Utiliza la función: timestamp_seconds -> https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.timestamp_seconds.html#pyspark.sql.functions.timestamp_seconds
- ##### Elimina la columna "timestamp"

In [99]:
## TU CODIGO VA EN ESTA CELDA:
casted_ratings_df = ratings_df
# Importaciones extra
from pyspark.sql.functions import col, timestamp_seconds
from pyspark.sql.types import DoubleType, TimestampType, LongType

# Renombrar la columna "moveId" por "movie_id"
casted_ratings_df = casted_ratings_df.withColumnRenamed("movieId", "movie_id")

# Renombrar la columna "userId" por "user_id"
casted_ratings_df = casted_ratings_df.withColumnRenamed("userId", "user_id")

# Convertir la columna "timestamp" a formato TimeStampType
casted_ratings_df = casted_ratings_df.withColumn("time",timestamp_seconds(col("timestamp").cast(LongType())))

# Castear la columna "rating" a formato doble
casted_ratings_df = casted_ratings_df.withColumn("rating",col("rating").cast(DoubleType()))

# Eliminar la columna "timestamp"
casted_ratings_df = casted_ratings_df.drop("timestamp")

# Imprimir resultados
casted_ratings_df.printSchema()
casted_ratings_df.show()

root
 |-- user_id: string (nullable = true)
 |-- movie_id: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- time: timestamp (nullable = true)

+-------+--------+------+-------------------+
|user_id|movie_id|rating|               time|
+-------+--------+------+-------------------+
|      1|       1|   4.0|2008-11-03 11:52:19|
|      1|     110|   4.0|2008-11-05 00:04:46|
|      1|     158|   4.0|2008-11-03 11:31:43|
|      1|     260|   4.5|2008-11-03 12:00:04|
|      1|     356|   5.0|2008-11-03 11:58:39|
|      1|     381|   3.5|2008-11-03 11:41:45|
|      1|     596|   4.0|2008-11-03 11:32:04|
|      1|    1036|   5.0|2008-11-03 12:07:06|
|      1|    1049|   3.0|2008-11-03 11:41:19|
|      1|    1066|   4.0|2008-11-03 12:29:21|
|      1|    1196|   3.5|2008-11-03 12:04:01|
|      1|    1200|   3.5|2008-11-03 12:11:01|
|      1|    1210|   4.5|2008-11-03 12:00:10|
|      1|    1214|   4.0|2008-11-03 12:20:26|
|      1|    1291|   5.0|2008-11-03 11:53:29|
|      1|    1293|   2.0|2008-11-03 11:37:22|
|      1|    1376|   3.0|2008-11-03 11:32:19|
|      1|    1396|   3.0|2008-11-03 11:32:14|
|      1|    1537|   4.0|2008-11-03 12:24:47|
|      1|    1909|   3.0|2008-11-03 11:35:17|
+-------+--------+------+-------------------+
only showing top 20 rows

In [100]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
casted_ratings_df.show(1, False)
"""
Ejemplo de salida esperada:
+-------+--------+------+-------------------+
|user_id|movie_id|rating|time               |
+-------+--------+------+-------------------+
|1      |1       |4.0   |2008-11-03 11:52:19|
+-------+--------+------+-------------------+
only showing top 1 row
"""

+-------+--------+------+-------------------+
|user_id|movie_id|rating|time               |
+-------+--------+------+-------------------+
|1      |1       |4.0   |2008-11-03 11:52:19|
+-------+--------+------+-------------------+
only showing top 1 row

'\nEjemplo de salida esperada:\n+-------+--------+------+-------------------+\n|user_id|movie_id|rating|time               |\n+-------+--------+------+-------------------+\n|1      |1       |4.0   |2008-11-03 11:52:19|\n+-------+--------+------+-------------------+\nonly showing top 1 row\n'

In [101]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
assert "user_id" in casted_ratings_df.columns
assert "movie_id" in casted_ratings_df.columns
assert "rating" in casted_ratings_df.columns
assert "time" in casted_ratings_df.columns
assert len(casted_ratings_df.columns) == 4

casted_ratings_df = casted_ratings_df.select("user_id" ,"movie_id", "rating", "time")

assert schema_to_ddl(casted_ratings_df) == 'user_id STRING,movie_id STRING,rating DOUBLE,time TIMESTAMP'

#### Actividad 3:
##### TO DO ->    Para el dataframe "ratings_df":
- ##### Renombra la columna "movieId" por "movie_id"
- ##### Renombra la columna "userId" por "user_id"
- ##### Convierte la columna "timestamp" a formato TimeStampType con formato logico yyyy-MM-dd HH:mm:ss, la nueva columna generada será "time". 
    - Utiliza la función: from_unixtime -> https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.from_unixtime.html#pyspark.sql.functions.from_unixtime
- ##### Elimina la columna "timestamp"

In [102]:
## TU CODIGO VA EN ESTA CELDA:

casted_tags_df = tags_df # Colocar transformaciones a tags_df

# Importaciones extra
from pyspark.sql.functions import col, from_unixtime
from pyspark.sql.types import TimestampType

# Renombrar la columna "movieId" por "movie_id"
casted_tags_df = casted_tags_df.withColumnRenamed("movieId", "movie_id")

# Renombrar la columnda "userId" por "user_id"
casted_tags_df = casted_tags_df.withColumnRenamed("userId", "user_id")

# Convertir la columna "timestamp" a formato TimestampType y con el nombre "time"
casted_tags_df = casted_tags_df.withColumn("time",from_unixtime('timestamp').cast(TimestampType()))

                                       
# Eliminar la columna "timestamp"
casted_tags_df = casted_tags_df.drop("timestamp")

# Imprimir resultados
casted_tags_df.printSchema()
casted_tags_df.show()

root
 |-- user_id: string (nullable = true)
 |-- movie_id: string (nullable = true)
 |-- tag: string (nullable = true)
 |-- time: timestamp (nullable = true)

+-------+--------+--------------------+-------------------+
|user_id|movie_id|                 tag|               time|
+-------+--------+--------------------+-------------------+
| 224183|     832|              acting|2017-06-05 07:20:27|
| 224183|     832|              action|2017-06-05 07:20:01|
| 224183|     832|       Brawley Nolte|2017-06-05 07:19:31|
| 224183|     832|   conspiracy theory|2017-06-05 07:20:00|
| 224183|     832|Director: Ron Howard|2017-06-05 07:15:05|
| 224183|     832|     Donnie Wahlberg|2017-06-05 07:19:33|
| 224183|     832|         Gary Sinise|2017-06-05 07:19:30|
| 224183|     832|          kidnapping|2017-06-05 07:19:57|
| 224183|     832|      Liev Schreiber|2017-06-05 07:19:36|
| 224183|     832|         Lili Taylor|2017-06-05 07:19:28|
| 224183|     832|          Mel Gibson|2017-06-05 07:19:28|
| 224183|     832|          Ron Howard|2017-06-05 07:20:26|
| 224183|     832|soundtrack: James...|2017-06-05 07:19:38|
| 224183|     832|               tense|2017-06-05 07:19:55|
| 224183|     832|            thriller|2017-06-05 07:19:54|
| 224183|     832|Writer: Alexander...|2017-06-05 07:19:39|
| 224183|     832|  Writer: Cyril Hume|2017-06-05 07:19:44|
| 224183|     832|Writer: Richard M...|2017-06-05 07:19:42|
| 224183|     832|Writer: Richard P...|2017-06-05 07:19:41|
| 224183|     866|         atmospheric|2017-08-18 06:38:47|
+-------+--------+--------------------+-------------------+
only showing top 20 rows

In [103]:
#Ejemplo de la documentación
from pyspark.sql.functions import col, from_unixtime
from pyspark.sql.types import DoubleType, TimestampType
time_df = spark.createDataFrame([(1428476400,)], ['unix_time'])
time_df.printSchema()
time_df.show()
time2 = time_df.withColumn("ts",from_unixtime('unix_time').cast(TimestampType()).alias('ts'))
time2.printSchema()
time2.show()

root
 |-- unix_time: long (nullable = true)

+----------+
| unix_time|
+----------+
|1428476400|
+----------+

root
 |-- unix_time: long (nullable = true)
 |-- ts: timestamp (nullable = true)

+----------+-------------------+
| unix_time|                 ts|
+----------+-------------------+
|1428476400|2015-04-08 01:00:00|
+----------+-------------------+

In [104]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
casted_tags_df.show(1)
"""
Ejemplo de salida esperada:
+-------+--------+------+-------------------+
|user_id|movie_id|   tag|               time|
+-------+--------+------+-------------------+
| 224183|     832|acting|2017-06-05 07:20:27|
+-------+--------+------+-------------------+
only showing top 1 row
"""

+-------+--------+------+-------------------+
|user_id|movie_id|   tag|               time|
+-------+--------+------+-------------------+
| 224183|     832|acting|2017-06-05 07:20:27|
+-------+--------+------+-------------------+
only showing top 1 row

'\nEjemplo de salida esperada:\n+-------+--------+------+-------------------+\n|user_id|movie_id|   tag|               time|\n+-------+--------+------+-------------------+\n| 224183|     832|acting|2017-06-05 07:20:27|\n+-------+--------+------+-------------------+\nonly showing top 1 row\n'

In [105]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
assert "user_id" in casted_tags_df.columns
assert "movie_id" in casted_tags_df.columns
assert "tag" in casted_tags_df.columns
assert "time" in casted_tags_df.columns
assert len(casted_tags_df.columns) == 4

casted_tags_df = casted_tags_df.select("user_id" ,"movie_id", "tag", "time")

assert schema_to_ddl(casted_tags_df) == 'user_id STRING,movie_id STRING,tag STRING,time TIMESTAMP'

In [106]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
dfs = [(casted_movies_df, "05/movies"),
       (casted_tags_df, "05/tags"),
       (casted_ratings_df, "05/ratings")]

write_tmp_df(dfs)